@font-face{
	font-family: OpenDyslexic;
	src: url(../fonts/OpenDyslexic-Regular.otf);
}

@font-face{
	font-family: Impact;
	src: url(../fonts/impact.ttf);
}

body{
	font-family: OpenDyslexic;
	color: #ffffff;
	background-color: #1b1d26;
	margin:0;
}

.nodebt{
	display: inline;
	color: #ffffff;
	font-size: 6rem;
	font-family: Impact;
	text-decoration: none;
}

main{
	margin-left:3%;
	margin-right:3%;
	padding-left:10%;
	padding-right:10%;

	display: flex;
	flex-direction: column;
}

form{
	display: block;
}

a{
	color: #ff00e9;
}

h1{
	margin: 10px 0 10px 0;
}

textarea{
	resize: none;
}

header{
	height: 20%;
	width: 100%;
	margin: 0;
	border-bottom: 2px solid rgb(151, 109, 230);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

body>header{
	border: none;
	margin: 0;

	box-shadow: 0 10px 10px 0 rgba(193, 13, 255, 0.31);
}

main section{
	padding: 2px ;
	margin: 10px 10% 0 10%;
}

section.groupList h1{
	margin: 8px;
}

article.invitation{
	border: 2px solid rgb(151, 109, 230);
	border-radius: 25px;
	margin: 10px 0;
}

header.invitationChoice{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border: 2px solid rgb(151, 109, 230);
	border-radius: 45px;
	padding: 2px ;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.groupPreview{
	border: 2px solid rgb(151, 109, 230);
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
}

article.invitation article.groupPreview{
	border: none;
}

article.groupPreview h3{
	font-size: 1rem;
	margin: 5px 0 5px 0;
	text-align: center;
}

ul.invitationChoice{
	display: flex;
	justify-items: flex-end;
	list-style: none;
	margin: 0;
}

button.accept{
	color: #1b1d26;
	border: 1px;
	font-size: 1em;
	border-radius: 10px;
	background-color: rgb(151, 109, 230);
	margin-left: 5px;
	margin-right: 5px;
}

button.decline{
	color: rgb(151, 109, 230);
	font-size: 1em;
	border: 2px solid rgb(151, 109, 230);
	border-radius:10px;
	background-color: #1b1d26;
	margin-left: 5px;
	margin-right: 5px;
}

table.expenses-table-view{
	width:95%;
	text-align: center;
}

.website-nav{
	display: flex;
	flex-direction: column-reverse;
}

.nav-links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-items: flex-end;
	list-style-type: none;
	top: auto;
}

.nav-links li{
	margin: 0 10px 0 10px;;
}

.participants-list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

	list-style-type: none;
}
.participants-list li{
	border: 2px solid rgb(151, 109, 230);
	width: 22%;
	margin: 4px;
	padding: 8px;
}

.expenses-total{
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	font-size: 2em;
}

.expenses-total p{
	margin: 0;
}
