@font-face {
    font-family: OpenDyslexic;
    src: url(../fonts/OpenDyslexic-Regular.otf);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(../fonts/BebasNeue-Regular.otf);
}

@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}

body {
    font-family: OpenDyslexic;
    color: #ffffff;
    background-color: #1b1d26;
    margin: 0;
}

.nodebt {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 6rem;
    font-family: BebasNeue-Regular;
    text-decoration: none;
}

main {
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    flex-direction: column;
}

form {
    display: block;
}

input, select, textarea{
    border: 2px solid rgb(151, 109, 230);
    background-color: #1b1d26;
    color: #fa8fdc;
    transition: all 0.4s ease 0s;
}


a {
    color: #DE3BB2;
    transition: all 0.4s ease 0s;
}

a:hover, input:focus, select:focus, textarea:focus{
    color: #ffde00;
    border-bottom: 2px solid #ffde00;
    box-shadow: 0 10px 25px 0 rgba(255, 213, 0, 0.29);
}

h1 {
    margin: 10px 0 10px 0;
}

summary {
    border-bottom: 2px solid rgb(151, 109, 230);
}

textarea {
    resize: none;
}

header {
    height: 20%;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid rgb(151, 109, 230);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body > header {
    border: none;
    margin: 0;

    box-shadow: 0 15px 50px 0 rgba(190, 0, 255, 0.33);
}

main section {
    padding: 2px;
    margin: 10px 10% 0 10%;
}

section.groupList h1 {
    margin: 8px;
}

article.invitation {
    border: 2px solid rgb(151, 109, 230);
    border-radius: 25px;
    margin: 10px 0;
}

header.invitationChoice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: 2px solid rgb(151, 109, 230);
    border-radius: 45px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

article.groupPreview {
    border: 2px solid rgb(151, 109, 230);
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

article.invitation article.groupPreview {
    border: none;
}

article.groupPreview h3 {
    font-size: 1rem;
    margin: 5px 0 5px 0;
    text-align: center;
}

ul.invitationChoice {
    display: flex;
    justify-items: flex-end;
    list-style: none;
    margin: 0;
}

button{
    border: 2px solid rgb(151, 109, 230);
    font-size: 1em;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #1b1d26;
    background-color: rgb(151, 109, 230);
    transition: all 0.3s ease 0s;
}

button:hover{
    color: #1b1d26;
    background-color: #ffde00;
    border-color:#ffde00;
    box-shadow: 0 10px 25px 0 rgba(255, 213, 0, 0.29);
}

button.decline {
    color: rgb(151, 109, 230);
    border: 2px solid rgb(151, 109, 230);
    background-color: #1b1d26;
}

button.decline:hover{
    color: #ffde00;
    background-color: #1b1d26 ;
    border-color:#ffde00;
    box-shadow: 0 10px 25px 0 rgba(255, 213, 0, 0.29);
}

table.expenses-table-view {
    width: 95%;
    text-align: center;
}

nav.website-nav {
    display: flex;
    flex-direction: column-reverse;
}

nav.website-nav a {
    text-decoration: none;
    font-family: BebasNeue-Regular;
    font-size: 2.5rem;
    transition: all 0.25s ease 0s;
    margin: 8px;
}

ul.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-end;
}

.nav-links li {
    margin: 0 10px 0 10px;
    list-style-type: none;
}


.participants-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.participants-list li {
    border: 2px solid rgb(151, 109, 230);
    width: 22%;
    margin: 4px;
    padding: 8px;
}

.expenses-total {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    font-size: 2em;
}

.expenses-total p {
    margin: 0;
}
